.button {
  padding: 0;
}
.card__button {
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  position: absolute;
  background: #66D2CF;
  border-radius: 6px;
  border: transparent;
  color: white;
  padding: 20px 40px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s;

}

.card__button:hover{
  background-color: #fff;
  color: #66D2CF;
}

.card__button:active {
  opacity: 0.6;
  // color: #66D2CF;
}
