.country {
   margin-bottom: 168px;

   &__container {
       width: 100%;
       max-width: 1085px;
       margin: 0 auto;
   }

    &__item {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
    }


    &__item-list {
        list-style: none;
        margin-right: 200px;

    }

    &__our {
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        margin-bottom: 72px;


    }

    &__images {
        margin-bottom: 45px;
        width: 49px;
        height: 43px;
    }

    &__heading {
        margin: 0;
        padding: 0;
        width: 255px;
        margin-bottom: 24px;
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
    }

    &__desc {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        font-family: 'Barlow';
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;


    }
}

@media only screen and (max-width:768px) {
    .country {

        &__container {
            width: 100%;
        }

    &__images {
        width: 100%;
        max-width: 49px;
        height: 43px;
    }

    &__heading {
        width: 255px;
        font-size: 32px;
    }

    &__desc {
        font-size: 16px;
        line-height: 26px;


    }

    &__item-list {
        list-style: none;
        margin-right: 100px;

    }
    }

}
@media only screen and (max-width:600px) {
    .country {

        &__container {
            width: 100%;
        }

    &__images {
        width: 100%;
        max-width: 49px;
        height: 43px;
    }

    &__heading {
        width: 215px;
        font-size: 30px;
    }

    &__desc {
        font-size: 15px;
        line-height: 25px;


    }

    &__item-list {
        list-style: none;
        margin-right: 50px;

    }
    }

}
@media only screen and (max-width:325px) {
    .country {

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;

        }

        &__item-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
        }

    &__desc {
        font-size: 15px;
        line-height: 25px;


    }

    &__item-list {
        list-style: none;
        margin-right: 50px;

    }

    &__item-list + &__item-list {
        margin-bottom: 88px;
    }
    }

}