.footer {

     &__site {
        width: 1280px;
        background-color:  #2C343E;
        padding: 50px 100px;
        display: flex;
        justify-content: space-between;
      }


    &__the-end {
       display: flex;
    }

    &__site-the {
       text-decoration: none;
       list-style: none;
       display: flex;

    }

       &__link-the-end {
       margin: 0;
       margin-left: 20px;
       text-decoration: none;
       display: flex;
       color: white;
       font-family: 'Barlow';
       font-weight: bold;
       font-size: 12px;
       line-height: 15px;
       letter-spacing: 0.923077px;
       text-transform: uppercase;
       color: #83888F;

   }

    &__pic-end {

       margin-left: 20px;

   }

   &__item {
      margin: 0;
      padding: 0;
      list-style: none;
   }



   &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
   }

   &__link {
      margin: 0;
      padding: 0;
      text-decoration: none;
      margin: 24px;
   }


}
