
.footer {

    &__site {
       width: 1280px;
       background: #2C343E;
       padding: 48px 85px;
       display: flex;
       justify-content: space-between;




    }

    &__pic-link {
       margin-right: 103px;
    }

    &__list {
       margin: 0;
       padding: 0;
       list-style: none;
       display: flex;
       align-items: center;
    }

    &__item {
       margin: 0;
       padding: 0;

    }

    &__link {
       text-decoration: none;
       font-family: 'Barlow';
       font-weight: bold;
       font-size: 12px;
       line-height: 15px;
       letter-spacing: 0.923077px;
       text-transform: uppercase;
       color: #83888F;
       margin-right: 33px;


    }


    &__end {
       display: flex;
    }

    &__picture {
      white-space: nowrap;
      margin-right: 24px;
    }

    &__icon {
       margin-top: 24px;
       color: transparent;
    }
}
