.hero {

    &__site {
        width: 1280px;
        height: 600px;
        padding: 117px 702px 107px 85px;
        border-radius: 10px;
        background-image: url("../images/hero.jpg");
        background-repeat: no-repeat;
        margin-bottom: 136px;

    }
     &__coffee {
         width: 445px;
     }



    &__heading {
        margin: 0;
        padding: 0;
        margin-bottom: 24px;
        font-family: 'Fraunces 9pt san, serif';
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
    }

    &__desc {
        margin: 0;
        padding: 0;
        margin-bottom: 56px;
        font-family: 'Barlow';
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
    }
}


@media only screen and (max-width:950px) {

    .about-hero {
        background-position: center;
        width: 100%;
        max-width: 639px;
    }
    .hero {
        &__coffee {
            width: 445px;
       }


    }



}

@media only screen and (max-width:850px) {

    .about-hero {
        width: 800px;
        max-width: 100%;
        background-position: center;
    }



}

@media only screen and (max-width:750px) {

    .about-hero {
        background-position: center;
        width: 100%;
        max-width: 700px;

    }


    .hero__coffee {
         width: 445px;
    }



    .hero__coffee {
        font-size: 15px;
        line-height: 25px;

    }
}

@media only screen and (max-width:500px) {

    .about-hero {
        width: 800%;
        max-width: 700px;

    }


    .hero__coffee {
         width: 445px;
    }

    .hero__heading {
        font-size: 34px;
        line-height: 40px;

    }

    .hero__desc {
        font-size: 15px;
        line-height: 25px;
    }

    .hero__coffee {
        font-size: 15px;
        line-height: 25px;

    }
}

@media only screen and (max-width:400px) {

    .about-hero {
        background-position: center;
        width: 90%;
        max-width: 700px;

    }


    .hero__coffee {
         width: 445px;
         flex-wrap: wrap;
    }

}



@media only screen and (max-width:320px) {

    .about-hero {
        background-position: center;
        width: 100%;
        max-width: 500px;

    }


    .hero__coffee {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 279px;
        margin: 0 auto;
    }

    .hero__heading {

        font-size: 25px;
        line-height: 25px;

    }

    .hero__coffee {
        width: 279px;
        font-size: 12px;
        line-height: 20px;

    }

}