.quality {
    width: 100%;
    max-width: 1280px;
    height: 474px;
    position: relative;
    background-image: url("../images/choose.png");
    background-repeat: no-repeat;
    margin-bottom: 168px;
}

.quality__foto {
    position: absolute;
    max-width: 445px;
    max-height: 474px;
    bottom: 88px;
    left: 750px;



}

.quality__pay {
    width: 540px;
    padding: 88px 0px 176px 85px;
    border-radius: 10px;
}

.quality__heading {
    margin: 0;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 32px;
}

.quality__desc {
    margin: 0;
    font-family: "Barlow";
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;

}

@media only screen and(max-width: 1250px){
    .quality{
      width: 100%;
      max-width: 1320px;
      display: flex;
    }
    .quality__foto {
      max-width: 445px;
      max-height: 474px;
      top: -110px;
      left: 750px;
    }
    .quality__pay{
      width: 100%;
      max-width: 540px;
      margin: 0;
    }
  }
